@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #020617;
  --card: rgba(255,255,255,0.05);
  --border: rgba(255,255,255,0.08);
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;

  background:
    radial-gradient(circle at top left, #0f172a, #020617 60%);

  color: white;

  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 20px;
}